.menuProducts{
  display: flex;
  margin-top: 0px;
  margin-left: 109px;
  margin-right: 109px;
  margin-bottom: 20px;
}
/* vertical menu */
.vertical-menu { 
  width: 300px;/* Set a width if you like */
  background-color: white;
  border-right: 2px solid #ececec;
  border-left: 2px solid #ececec;
  border-bottom: 2px solid #ececec;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 400px;
  display: block;
  margin-top: -17px;
}
.menu-catgori {
  color: #ffffff;
  background-color: #F15A22;
  height: 40px;
  width: 294px;
  margin-top: -5px;
  padding: 20px 0 0 10px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.vertical-menu ul{
  list-style: none;
  list-style-position: outside;
  display: block;
  width: 260px;
  height: 300px;
  margin-right: 15px;
  margin-top: 2rem;
}
.vertical-menu li{
  list-style: none;
  list-style-position: outside;
  display: block;
  width: 200px;
  text-align: left;
  height: 33px;
  margin-top: 10PX;
  padding: 5px 0 5px 30px;
  border-bottom: 2px solid #ececec;
}

/* Style the tab */
.tab {
  background-color: #ffffff;
  display: block;
  flex: 1;
  height: 300px;
  margin-top: -65px;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 0px 10px;
  margin-left: 10px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bolder;
  justify-content: center;
  font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: inherit;
  border-bottom: 3px #F15A22 solid;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: 1px solid #ccc;
  justify-content: center;

}

/* swiper slider container */
.swiper-container{
  width: 1000px;
  display: flex;
}



.product_list_items{
  display: flex;
  list-style: none;
  .product_list_item{
    margin-left: -5px;
  }
}
/* card */
.card {
  max-width: 250px;
  text-align: center;
  font-family: arial;
  border-left: .1rem rgb(235, 235, 235)  solid;
  border-right: .1rem rgb(235, 235, 235) solid;
  margin-top: 1rem;
}
.card:hover{
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}
/* .card:hover img{
  transform: scale(1.0);
  transition: all ease 0.3s;
} */

.card .title {
  color: black;
  font-size: 18px;
  margin-top: 0px;
}
.active{ text-align: center; font-size: 17px; justify-content: center; padding-left: 1rem;}
.card a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F15A22;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 2px;
  cursor: pointer;

} 
.card .product-type{
  color: gray;
  font-size: 17px;
  float: left;
  margin-left: 15px;
}
.card  button:hover, a:hover {
  opacity: 0.7;
} 

.card  img{
    width: 80%;
} 
.card .input{
border: 2px solid rgb(230, 230, 230);
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
background-color: #fff;
display: flex;
min-height: 2rem;
margin-left: auto;
margin-right: auto;
width: 80%;

}
.card .qty{
  border: none;
  min-width: 50%;
  min-height: 50%;
  outline: none;
  margin-left: .8rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding-right: .1rem;
}
.card .plus{
  width: 15%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  margin-top: .8rem;
  margin-bottom: .2rem;
  height: 1.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: .3rem;
}
.card .minus{
  width: 15%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  margin-top: .8rem;
  margin-bottom: .4rem;
  height: 1.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  text-align: center;
}
.card .plus:hover{
  background-color: #000;
  color: white;
}
.card .minus:hover{
  background-color: #000;
  color: white;
}
.card .add-to-cart{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  background: none;
  border: 2px #F15A22 solid;
  min-height: 2.5rem;
  color: #000;
}
.card:hover .add-to-cart{
  background-color: black;
  color: white;
}
.card .wish-list{
  display: none;
}
.card:hover .wish-list{
  display: inline;
}

/* card last item for each tab remove border-right */
.cards {
  max-width: 250px;
  text-align: center;
  font-family: arial;
  border-left: .1rem rgb(235, 235, 235)  solid;
  margin-top: 1rem;
}
.cards:hover{
  box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

.cards .title {
  color: black;
  font-size: 18px;
  margin-top: 0px;
}
.active{ text-align: center; font-size: 17px; justify-content: center; padding-left: 1rem;}
.cards a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F15A22;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 2px;
  cursor: pointer;

} 
.cards .product-type{
  color: gray;
  font-size: 17px;
  float: left;
  margin-left: 15px;
}
.cards  button:hover, a:hover {
  opacity: 0.7;
} 

.cards  img{
    width: 80%;
} 
.cards .input{
border: 2px solid rgb(230, 230, 230);
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
background-color: #fff;
display: flex;
min-height: 2rem;
margin-left: auto;
margin-right: auto;
width: 80%;

}
.cards .qty{
  border: none;
  min-width: 50%;
  min-height: 50%;
  outline: none;
  margin-left: .8rem;
  margin-top: .1rem;
  margin-bottom: .1rem;
  padding-right: .1rem;
}
.cards .plus{
  width: 15%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  margin-top: .8rem;
  margin-bottom: .2rem;
  height: 1.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: .3rem;
}
.cards .minus{
  width: 15%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  margin-top: .8rem;
  margin-bottom: .4rem;
  height: 1.5rem;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
  text-align: center;
}
.cards .plus:hover{
  background-color: #000;
  color: white;
}
.cards .minus:hover{
  background-color: #000;
  color: white;
}
.cards .add-to-cart{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  background: none;
  border: 2px #F15A22 solid;
  min-height: 2.5rem;
  color: #000;
}
.cards:hover .add-to-cart{
  background-color: black;
  color: white;
}
.cards .wish-list{
  display: none;
}
.cards:hover .wish-list{
  display: inline;
}
/* last card end */


/* go to store button */
.go-store{
  display: flex;
  float: right;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-top: 15rem;

}
.go-store button{
  background: rgb(37, 37, 37);
  outline: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 18px;
  margin-top: -300px;
  width: 150px;
  height: 50px;
}

.go-store .direct-icon{font-size: 15px !important; 
  font-weight: lighter !important;
  color: rgb(255, 255, 255);
  margin-left: 1rem;
}
.title{
  color: #F15A22;
  font-weight: bold;
  font-size: 18px;
}
.oldprice{
  text-decoration-line: line-through;
}

.menu-title {
  display:block;
  margin-top:65px ; 
 }
 @media only screen and (max-width: 657px) {
   .menu-catgori {
     margin-left: -100px;
     margin-top: 80px;
     display: block;
     max-width:500px;
     border: 2px solid black;
   }
   .vertical-menu {
     margin-left: -100px;
     display: block;
     width: 500px;
     background-color: white;
     border-right: none;
     border-left: 2px solid #ececec;
     border-bottom: 2px solid #ececec;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
     height: 400px;
   }
   .vertical-menu li {
     max-width: 1657px;
   }
   .tab {
     margin-top: 530px;
     margin-left: -650px;
     display: none;
   }
 }
 @media only screen and (max-width: 786px) {
   .menu-catgori {
     margin-left: -100px;
     margin-top: 80px;
     display: block;
     width: 620px;
   }
   .vertical-menu {
     margin-left: -100px;
     display: block;
     max-width: 650px;
     background-color: white;
     border-right: none;
     border-left: 2px solid #ececec;
     border-bottom: 2px solid #ececec;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
     height: 400px;
   }

   .tab {
     margin-top: 530px;
     margin-left: -650px;
     display: none;
   }
 }
 
 @media only screen and (max-width: 992px) {
   .menu-catgori {
     margin-left: -100px;
     margin-top: 80px;
     display: block;
    width: 600px;
   }
   .vertical-menu {
     margin-left: -100px;
     width: 80%;
   }
   .tab {
     margin-top: 530px;
     margin-left: -650px;
     display: none;
   } 
  } 
   @media only screen and (max-width: 1100px) {
    .menu-catgori {
      margin-left: -100px;
      margin-top: 80px;
      display: block;
      width: 700px;
    }
    .tab {
      margin-top: 530px;
      margin-left: -650px;
      display: none;
    } 
  }
 @media only screen and (max-width: 1200px) {
   .menu-catgori {
     margin-left: -100px;
     margin-top: 80px;
     display: block;
    
   }
   .vertical-menu {
     margin-left: -100px;
     display: block;
     width: 657px;
     background-color: white;
     border-right: none;
     border-left: 2px solid #ececec;
     border-bottom: 2px solid #ececec;
     border-bottom-left-radius: 5%;
     border-bottom-right-radius: 5%;
     height: 400px;
   }
   .vertical-menu li {
     max-width: 1657px;
   }
   .tab {
     margin-top: 530px;
     margin-left: -650px;
     display: none;
   } 
 }  
 /* @media only screen and (max-width: 1300px) {
  .menu-catgori {
    margin-left: -100px;
    margin-top: 80px;
    display: block;
    width: 1150px;
  }
  .vertical-menu {
    margin-left: -100px;
    display: block;
    width: 657px;
    background-color: white;
    border-right: none;
    border-left: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    height: 400px;
  }
  .vertical-menu li {
    max-width: 1657px;
  }
  .tab {
    margin-top: 530px;
    margin-left: -650px;
    display: none;
  } 
} */