.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  height: 15vh;
  z-index: 108;
  width: 100%;
}

.header div.logo img {
  height: 60px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 80px;
}
.header-button button{
  font-size: 25px;
  padding: 12px 1px;
  background: none;
  color: #000;
  cursor: pointer;
  margin-right: 5rem;
  margin-left: -2rem;
  margin-top: 10px;
  justify-content: left;
  border: none;
  outline: none;
}

.header-icon {
  font-size: 25px;
  padding: 12px 0px;
  background: none;
  color: #000000;
  cursor: pointer;
  margin-left: -0.5rem;
  margin-top: 1px;
  border: none;
  outline: none;
}
.header-searchInput {
  width: 500px;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #4e4b4b;
  border: 2px solid #f15a22;
  outline: none;
  visibility: visible;
  text-align: start;
  padding-right: 6px;
  margin-left: -125px;
}

.header-searchIcon {
  height: 37px !important;
  width: 55px !important;
  background-color: #f15a22;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  margin-left: -2px;
  margin-top: 10px;
  margin-bottom: -19px;
  margin-right: 0px;
  padding-top: 8px;
  padding-bottom: 1px;
  font-weight: lighter !important;
  cursor: pointer;
  font-size: 2px !important;
}
::-webkit-input-placeholder {
  color: grey;
  padding-left: 20px;
}

:-ms-input-placeholder {
  color: grey;
  padding-left: 20px;
}
.cart-logo img {
  height: 60px;
  margin-right: 155px;
  cursor: pointer;
}

.amount {
  vertical-align: top;
  position: absolute;
  top: 11%;
  font-size: 15px;
  margin-left: -158px;
  cursor: pointer;
  font-weight: 700;
  word-spacing: 0px;
  letter-spacing: -0.14px;
  line-height: 40px;
  display: inline;
}
.count-product {
  vertical-align: top;
  position: absolute;
  top: 15%;
  font-size: 11px;
  margin-left: -160px;
  cursor: pointer;
  font-weight: 600;
  background-color: #f15a22;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 80%;
  color: #ffffff;
  height: 20.8px;
  padding-top: 2px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.content {
  text-align: center;
  width: 100%;
 border: 2px solid black;
}


.sticky + .content {
  padding-top: 60px;
}
.sticky .amount {
  vertical-align: top;
  top: 28%;
  font-size: 15px;
  margin-left: -160px;
  cursor: pointer;
  font-weight: 700;
  word-spacing: 0px;
  letter-spacing: -0.14px;
  line-height: 40px;
  display: inline;
}
.sticky .count-product {
  vertical-align: top;
  position: absolute;
  top: 60%;
  font-size: 11px;
  margin-left: -158px;
  cursor: pointer;
  font-weight: 600;
  background-color: #f15a22;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 80%;
  color: #ffffff;
  height: 20.8px;
  padding-top: 2px;
}
.cart2 {
  display: none;
}
.carticon {
  display: none;
  button{
    font-size: 25px;
    padding: 12px 1px;
    background: none;
    color: #000;
    cursor: pointer;
    justify-content: left;
    border: none;
    outline: none;
  }
}
.count-pro {
  display: none;
}








@media screen and (max-width: 657px) {
  .content {
    max-width: 500px;
  }
  .header {
    max-width: 100%;
  }
  .header div:not(:first-child) {
    display: none;
  }
  .header-button {
    float: left;
    display: block;
  }
  .header {
    box-shadow: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header {
    box-shadow: none;
    height: 50px;
  }
  .header div.logo img {
    height: 30px;
  }
  .header-button {
    float: left;
    position: fixed;
    left: 1;
    top: 0;
    margin-left: -16rem;
    margin-top: 0;
  }
  .cart2 {
    display: inline-block;
    cursor: pointer;
  }
  .carticon {
    display: inline-block;
    cursor: pointer;
    
  }
  .count-pro {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    font-size: 11px;
    vertical-align: top;
    cursor: pointer;
    top: 1%;
    font-weight: 600;
    background-color: #f15a22;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 80%;
    color: #ffffff;
    height: 18.8px;
    padding-top: 2px;

  }
}
@media screen and (max-width: 768px) {
  .header div:not(:first-child) {
    display: none;
  }
  .header-button {
    float: left;
    display: block;
  }
  .header {
    box-shadow: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header {
    box-shadow: none;
    height: 50px;
  }
  .header div.logo img {
    height: 30px;
  }
  .header-button {
    float: left;
    position: fixed;
    left: 1;
    top: 0;
    margin-left: -16rem;
    margin-top: 0;
  }
  .cart2 {
    display: inline-block;
    cursor: pointer;
  }
  .carticon {
    display: inline-block;
    cursor: pointer;

  }
  .count-pro {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    font-size: 11px;
    vertical-align: top;
    cursor: pointer;
    top: 1%;
    font-weight: 600;
    background-color: #f15a22;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 80%;
    color: #ffffff;
    height: 18.8px;
    padding-top: 2px;
}
}
@media screen and (max-width: 992px) {
  .header div:not(:first-child) {
    display: none;
  }
  .header-button {
    float: left;
    display: block;
  }
  .header {
    box-shadow: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header {
    box-shadow: none;
    height: 50px;
  }
  .header div.logo img {
    height: 30px;
  }
  .header-button {
    float: left;
    position: fixed;
    left: 1;
    top: 0;
    margin-left: -16rem;
    margin-top: 0;
  }
  .cart2 {
    display: inline-block;
    cursor: pointer;
  }
  .carticon {
    display: inline-block;
    cursor: pointer;

  }
  .count-pro {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    font-size: 11px;
    vertical-align: top;
    cursor: pointer;
    top: 1%;
    font-weight: 600;
    background-color: #f15a22;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 80%;
    color: #ffffff;
    height: 18.8px;
    padding-top: 2px;
}
}
@media screen and (max-width: 1200px) {
  .header div:not(:first-child) {
    display: none;
  }
  .header-button {
    float: left;
    display: block;
  }
  .header {
    box-shadow: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header {
    box-shadow: none;
    height: 50px;
  }
  .header div.logo img {
    height: 30px;
  }
  .header-button {
    float: left;
    position: fixed;
    left: 1;
    top: 0;
    margin-left: -16rem;
    margin-top: 0;
  }
  .cart2 {
    display: inline-block;
    cursor: pointer;
  }
  .carticon {
    display: inline-block;
    cursor: pointer;

  }
  .count-pro {
    display: inline-block;
    position: absolute;
    margin-left: -5px;
    font-size: 11px;
    vertical-align: top;
    cursor: pointer;
    top: 1%;
    font-weight: 600;
    background-color: #f15a22;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 80%;
    color: #ffffff;
    height: 18.8px;
    padding-top: 2px;
}
}
@media screen  and (max-width: 1300px) {
 .header div.logo img {
   margin-left: -20px;
 }
} 
