.nav {
  background-color: #f15a22;
  font-size: calc(5px + 2vmin);
  color: rgb(255, 255, 255);
  height: 60px;
  .list {
    margin: 0 0 0 102px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-align: center;
    p {
      cursor: pointer;
      padding-left: 15px;
    }
    .seprator {
      border-left: 0.1px solid #857e85;
      height: 50px;
      margin-left: 10px;
      top: 0;
    }
  }
}

@media only screen and (max-width: 657px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .nav {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
}
