.addresses{
    display: flex;
    flex: 1;
    justify-content:space-evenly;
    width: 90%;
}

.address-billing {
    font-size: 17px;
    font-weight: 400;
    letter-spacing:-0.14px;
    line-height: 40px;
    color: #333e48;
    border-bottom: 1px solid rgb(34, 26, 23)d;
    display: block;
    width: 60%;
}
.address-shipping {
    font-size: 17px;
    font-weight: 400;
    letter-spacing:-0.14px;
    line-height: 40px;
    color: #333e48;
    border-bottom: 1px solid rgb(34, 26, 23)d;
    display: block;
    padding:0 15px 0 15px;
    width: 60%;
  
}