.accounts{
}
.heading {
    display: flex;
    font-size: 20px;
    margin-top: -80px;
    margin-left: 80px;
    word-spacing: 10px;
}
.acc {
    color: orangered;
    font-size: 50px;
    margin-left: 80px;
}
.login-content {
    display: block;
    p{
        font-size: 40px;
    
    
    }
}
.login {
  align-items: left;
  font-size: 40px; 
  margin-left: 80px;
  border-bottom: 3px solid whitesmoke;
  width: 500px;
}